@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,300italic);

* { 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
	-webkit-text-size-adjust: none;
}
body {
	background-color: #313d4e;
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
	font-family: "Source Sans Pro", helvetica, arial;
	font-weight: 100;
	font-size: 18px;
	color: #fff;	
}
a {
	text-decoration: none;
	color: #347196;
}
a:hover {text-decoration: underline;}

img {max-width: 1430px;}

.well {color: #555;}

@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

.navbar-inverse {
  background-color: #313d4e;
}
.navbar-inverse .navbar-brand {
  color: #fff;
  padding: 10px 0 0 10px;
  font-size: 40px;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #777;
  background-color: transparent;
}
.navbar-inverse .navbar-text {
  color: #fff;
}
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {color: #777;}

.navbar-inverse .navbar-nav > .active > a {color: #777;}

.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {color: #fff;}

.navbar {padding: 10px 0 10px 10px;}

@media(min-width:768px) {
    body {
        padding-top: 62px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    }

    .navbar-fixed-top .navbar-brand {
        padding: 15px 0;
	}
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;}

.footer-links {
	text-align: center;
	margin-bottom: 50px;
	padding: 0 0 40px 0;
}
.footer-links li {
	margin-bottom: 10px;
	font-weight: 400;
	list-style: none;
}

h1.title {
	font-size: 40px;
	font-weight: 100;
	margin: 0 0 20px 0;
	
	padding: 30px 0 10px 40px;
	-webkit-font-smoothing:antialiased;
}

.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  color: #555;}
  
/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 19px;
  color: #fff;	
}

.header-links {
	float: right;
	margin-top: 15px;
	margin-right: 20px;
	color: #999;
}
.header-links a {
	color: #999;
}
.header-links a:hover {
	color: #337097;
}

.sub-header {
	clear: both;
	background-color: #eee;
	
	margin: 30px -40px 30px -40px;
	
	padding: 8px 40px 8px 40px;
	border-width: 1px 0 1px 0;
	border-style: solid;
	
	border-color: #d9d9d9;
	/*border-color: #bbb;*/
	
	font-weight: 100;
	font-size: 35px;
	
	-moz-box-shadow:0px 0px 2px rgba(0,0,0,0.15);
	-webkit-box-shadow:0px 0px 2px rgba(0,0,0,0.15);
	box-shadow:0px 0px 2px rgba(0,0,0,0.15);
}

hr {
	color: #d9d9d9;
	/*color: #bbb;*/
	background-color: #d9d9d9;
	/*background-color: #bbb;*/
	border: 0;
	height: 1px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header, .marketing, .footer {
  padding-right: 15px;
  padding-left: 15px;}