@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,300italic);

* { 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
	-webkit-text-size-adjust: none;
}
body {
        padding-top: 70px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
	font-family: "Source Sans Pro", helvetica, arial;
	font-weight: 100;
	font-size: 18px;
	margin: 0;
	
}

.home hr {width: 200px;}
.home h1 {font-size: 90px; font-weight: 600;}

a {text-decoration: none;}
a:hover {text-decoration: underline;}

img {max-width: 100%;}

.well {color: #555;}

@media (min-width: 768px) {
  .container {
    max-width: 1000px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;}

.footer-links {
	text-align: center;
	margin-bottom: 50px;
	padding: 0 0 40px 0;
}
.footer-links li {
	margin-bottom: 10px;
	font-weight: 400;
	list-style: none;
}

h1.title {
	font-size: 40px;
	font-weight: 100;
	margin: 0 0 20px 0;
	
	padding: 30px 0 10px 40px;
	-webkit-font-smoothing:antialiased;
}

.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  color: #555;}
  

.sub-header {
	clear: both;
	background-color: #eee;
	
	margin: 30px -40px 30px -40px;
	
	padding: 8px 40px 8px 40px;
	border-width: 1px 0 1px 0;
	border-style: solid;
	
	border-color: #d9d9d9;
	/*border-color: #bbb;*/
	
	font-weight: 100;
	font-size: 35px;
	
	-moz-box-shadow:0px 0px 2px rgba(0,0,0,0.15);
	-webkit-box-shadow:0px 0px 2px rgba(0,0,0,0.15);
	box-shadow:0px 0px 2px rgba(0,0,0,0.15);
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;}

/* Blog post or page title */
.page-title,
.post-title {
  margin-top: 0;
}

/* Meta data line below post title */
.post-date {
  display: block;
  margin-top: -.5rem;
  margin-bottom: 1rem;
  color: #9a9a9a;
}

.no-bullets {
    list-style-type: none;
}
